<!-- Modal -->
<div class="modal fade" id="showAppInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h2 class="app-info-title center"> 
          Poddsök finns nu som app!
        </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Delete info text -->
      <div class="modal-body">
        <a href="https://apps.apple.com/se/app/podds%C3%B6k-nu/id1524498522">
          <img ng-src="/resources/images/poddsok-title-icon.png" class="app-icon">
        </a>
        <a href="https://apps.apple.com/se/app/podds%C3%B6k-nu/id1524498522">
          <h3 class="center app-icon">
              Ladda ner
          </h3>
        </a>

      </div>

    </div>
  </div>
</div>