<!-- Modal -->
<div class="modal fade cookie-consent-modal" id="showCookieInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog cookie-consent" role="document">
    <div class="modal-content cookie-consent-content">
      <div class="modal-header cookie-consent-header">
        Sidan använder cookies
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>