/* --- Mobile settings --- */
@media (max-width: 980px){
	.modal-dialog {
   		max-width: 75% !important;
    	margin: 1.75rem auto;
    }
}
@media (min-height: 1700px){
	.scroll {
		max-height: calc(100vh - 225px) !important;
	} 
}

/* --- General --- */
body{
	background-color: #320E44;
	color:white;
	font-family: 'Montserrat', sans-serif;
	overflow-y: hidden;
}
h1{
	font-size: 55px;
	text-align: center;
	margin-bottom: 2%;
}
h2{
	font-size: 35px;
}
a{
	color: white;
	font-size: 30px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
} 
a:hover{
	font-size: 32.5px;
	color: white;
}
input{
	width: 100%;
	border-radius: 17.5px;
	border:none;
	font-size: 30px;
	position: center;
	color:grey;
	margin-bottom: 4%;
}
label,textarea{
	font-size: 30px !important;
    -webkit-box-shadow: none !important;
}
.btn{
	background-color: #320E44;
	font-size: 35px;
}
.btn[disabled]{
	background-color: #320E44;
}
.btn-send:focus{
	outline:0;
	background-color: #320E44;
}
input[placeholder]{
	padding-left: 7.5%;
}
input:focus{
	outline: none;
}
img{
	width:85px;
	height:85px;
	border-radius:25px 25px 25px 25px;
}
p{
	font-size: 25px;
	margin-bottom: 0;
}
.infoText {
	margin-top: -30px;
	font-size: 20px;
}
.header-1 {
	height: 160px;
}
.header-2 {
	height: 65px;
}
.center{
	text-align: center;
}
.inline{
	display:inline;
}
.close{
	font-size: 50px;
	outline: none;
}
.close:focus{
	outline: none;
}
.click{
	cursor: pointer;
}
.scroll{
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch; 
	max-height: calc(100vh - 225px);
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.back{
	font-size:48.5px;
	float: right;
}
.sort{
	font-size: 48.5px;
	margin-left: 30px;
}
.col-lg-1{
	padding-left: 0 !important;
}

/* --- Podcast settings ---*/
.pod-show-hide {
 	transition: all linear 1s;
}
.pod-show-hide.ng-hide {
 	opacity: 0;
 	transition: none;
}
.pod{
	margin-bottom:1.25%;
	background-color: #431651;
	border-radius:25px 25px 25px 25px;
}
.pod-name{
	margin-top: 3%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left:40px;
	margin-bottom: 25px;
}

/* --- Menu --- */
.menu{
	text-align: center;
	font-size: 27.5px;
	cursor: pointer;
	background-color: #431651;
	border-radius:25px 25px 25px 25px;
	margin-top: 3%;
	margin-right: 3%;
	color: white;
}
.menu:hover{
	text-decoration: none;
	color: white;
}

/* --- Modal (pop-up) --- */
.modal{
	color: #431651;
	border:25px;
}
.modal-content{
	border-radius:2rem;
}
.modal-input{
	border-bottom:2px solid #431651;
	border-radius: 0;
}
.modal-input[placeholder]{
	padding-left:3% !important;

}
.modal-dialog{
	max-width: 60%;
}
.sent{
	height:200px;
}
.modal-input[disabled], label[disabled]{
	opacity: 0.5;
}
.error-text{
	color:red;
}
.dropdown-menu{
	max-height: 30vh;
	overflow-y: scroll;
	width: 80%;
}
/* --- Episode info --- */
.min-text{
	padding-left: 2%;
}
.search-word{
	font-size: 30px
}
.pod-title-up{
	margin-top: 3%;
}
.delete-icon{
	font-size: 32px;
	transition: all linear 0.25s;
}
.delete-icon.ng-hide{
	opacity: 0;
 	transition: none;
}
.delete-icon:hover{
	font-size: 35px;
	cursor: pointer;
}
.eptext-show{
	float:right;
	padding: 2%;
}

/* --- About-view --- */
.about{
	font-size: 30px;
	margin-top: 3%;
	max-height: 80vh;
	overflow-y: auto;
}
.about a{
	cursor: pointer;
}
.about-img{
	height: 250px;
	width: 250px;
	border-radius: 50%; 
	margin-top: 2.5%;
}
.about-icon{
	text-align: center;
	margin-top:3%;
	font-size: 40px;
}
.about-icon:hover{
	font-size: 45px;
}
.play{
	padding-right:15px;
}
.app-icon {
	margin-left: auto;
  	margin-right: auto;
  	display: block;
  	margin-top: 2%;
  	color: #320E44;
}
.app-info-title{
	width: 100%;
}
.cookie-consent {
	position: absolute;
    left: 3%;
    height: 70px;
    width: 300px;
}
.cookie-consent-header{
	border-bottom: none;
	font-size: 20px;
}
.cookie-consent-header .close{
	margin-top: -0.5em;
}
.cookie-consent-content{
	height: 67.5px;
}

